body {
  margin: 0;
  padding: 0;
  line-height: 2em;
  color: black;
  background: url(https://images.unsplash.com/photo-1528732533941-ffd7083d5dfe?ixlib=rb-1.2.1&auto=format&fit=crop&w=1651&q=80);  background-size: cover;
  background-position: center center;
  font-family: 'klee',fantasy;
}
header {
  background: black;
  height: 50px;
  line-height: 50px;
}
h1 {
  text-align: center;
  margin-top: 7%;
  color: black;
  font-size: 60px;
  letter-spacing: 3.5px;
}

.btn {
  text-align: center;
  margin-top: 100px;
}
a {
  text-decoration: none;
  background: linear-gradient(to right, rgb(244, 122, 66), #ffa500);
  color: black;
  box-shadow: 3px 3px 6px;
  border-radius: 5px;
  transition: all 0.5s;
  display: block;
  margin: 0 auto;
}
#start-a{
  width: 21%;
  height: 70px;
  padding: 10px;
}
#start-a:hover{
  background: radial-gradient(rgb(244, 122, 66), #ffa500);
  color: black;
  opacity: 1;
}

#start-a:active{
  box-shadow: 0 0 0;

}
#signup-a{
  width: 15%;
}
#signup-a:hover{
  opacity: 1;
}
#signup-a:active{
  box-shadow: 0 0 0;
}
a:hover {
  background: radial-gradient(rgb(244, 122, 66), #ffa500);
  transition: all 0.5s;
  opacity: 1;
}
.btn .start-btn:active {
  transform: translateY(3px);

}
.btn .signup-btn:active {
  transform: translateY(3px);
}

.start-btn {
  margin-top: 50px;
  font-size: 60px;
  line-height: 70px;

}
.start-btn a{
  font-size: 50px;
  background: radial-gradient(rgb(244, 122, 66), #ffa500);
  color: black;
  opacity: 0.8;
}

.signup-btn {
  margin-top: 50px;
}
.signup-btn a{
  background: radial-gradient(rgb(244, 122, 66), #ffa500);
  color: black;
  opacity: 0.8;
}

.desc {
    text-align: center;
    font-size: 20px;
    opacity: 0.9;
    margin-top: 50px;
    line-height: 2.3em;
}

header a{
  display: block;
  margin-right: 20px;
  float: right;
  box-shadow: 0 0 0;
  background: radial-gradient(rgb(244, 122, 66), #ffa500);
  color: black;
  opacity: 0.9;
}

.fa-child:before {
    content: "\f1ae";
    font-size: 33px;
    line-height: 50px;
    margin-left: 30px;
    color: #f35e12;
}

footer {
  background: rgb(32, 29, 30);
  color: white;
  width: 100%;
  text-align: center;
  height: 40px;
  line-height: 20px;
  margin-top: 135px;
}

.form-all {
  text-align: center;
}

.form{
  margin-bottom: 50px;
  font-size: 30px;
}
.form1{
  margin-top: 60px;
}
input[type="text"] {
    width: 23%;
    height: 30px;
}
input[type="password"] {
    width: 23%;
    height: 30px;
}
.btn_signup input {
    width: 15%;
    border: none;
    height: 50px;
    transition: all 1s;
    background: radial-gradient(rgb(244, 122, 66), #ffa500);
    color: black;
    opacity: 0.7;
    border-radius: 5px;
    font-size: 22px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}
.btn_signup input:hover{
  background: radial-gradient(rgb(244, 122, 66), #ffa500);
  color: black;
  opacity: 1;
  transition: all 0.5s;
}

.btn_signup input:active {
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}
.btn_signup {
  margin-top: 30px;
}
#center-form4{
  margin-right: 170px;
}
#center-form3{
  margin-right: 80px;
}
#center-form2{
  margin-right: 10px;
}
#center-form5{
  margin-right: 80px;
}
.err{
  color: red;
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',fantasy;
}
.footer-login{
  margin-top: 310px;
}
.footer-signup{
  margin-top: 150px;
}
label{
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',fantasy;
}
